$color1: #202225;
$color2: #2f3136; // $color3: #34373c;
$color3: #36393f;
$color4: #3e4147; // prev: 3b
$color5: #474b52;
$color6: #72767d;
$color7: #ccd1da;
$color8: #dcddde;
$accent1: #dbad11;
$accent2: lighten($accent1, 10%);
$discord: #5865F2;
$yellowish: #fec;
$green: #2e8b57;
$red: #db1212;
$blue: #1293db;
$white: #fff;
$bounce: cubic-bezier(0, 0.5, 0.7, 1.5); // $DiscordPicsList:"322c936a8c8be1b803cd94861bdfa868",/*gray*/"dd4dbc0016779df1378e7812eabaa04d",/*green*/"1cbd08c76f8af6dddce02c5138971129",/*red*/"0e291f67c9274a1abdddeb3fd919cbaa",/*yellow*/"6debd47ed13483642cf09e832ed0bc1b"; /*blue*/
$DCgray: #747f8d;
$DCgreen: #43b581;
$DCred: #f04747;
$DCyellow: #faa61a;
$DCblue: #7289da;
$DiscordColorsList: $DCgray, $DCgreen, $DCred, $DCyellow, $DCblue; //   $fltr-acc1: invert(66%) sepia(82%) saturate(475%) hue-rotate(3deg) brightness(91%) contrast(95%);
// background: DiscordPic(2)
@function DiscordPic($n:4) {
  @return var(--pfp), nth($DiscordColorsList, $n);
  // @return linear-gradient(nth($DiscordColorsList, $n) 0, nth($DiscordColorsList, $n) 100%),url("/src/icon/discord");
}

html {
  // font-size: 1rem;
  // font-size: 16px;
  font-size: 1.65vh;
  font-family: sans-serif;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
}

::-webkit-scrollbar {
  display: none;
}

body {
  color: $color7;
  background-color: $color3;
  overflow-y: scroll;
  --pfp: url('/src/icon/discord') center/70% no-repeat;
  // > iframe {
  //   display: none;
  // }
  &::before {
    content: '';
    display: block;
    // background-image: url("https://source.unsplash.com/featured/1920x400/daily?city");
    background-image: url('/src/background');
    background-repeat: no-repeat;
    background-size: cover;
    filter: saturate(.5);
    position: fixed;
    top: 4.5vh;
    height: 35vh;
    left: 0;
    right: 0;
    z-index: -2;
  }

  &::after {
    content: '';
    display: block;
    background: linear-gradient(180deg, #34373cee 0%, $color3) 95%;
    position: fixed;
    top: 4.5vh;
    height: 35vh;
    left: 0;
    right: 0;
    z-index: -1;
  }
}

:active,
:visited {
  color: unset;
}

::selection {
  background-color: rgba($accent1, .7);
}

img {
  height: 100%;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

header {
  background-color: $color1;
  height: 4.5vh;
  /* max-height: 10vh; */
  padding: .5vh .5vw;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  box-shadow: 0 -1vh 1vh 1vh #000;

  > * {
    color: $color7;
  }

  > .logo {
    height: inherit;
    overflow: hidden;
    display: block;
    width: 4.5vh;
    float: left;
    cursor: pointer;

    > div {
      position: absolute;
      transform: scale(1.5);
      /* filter: $fltr-acc1; */
      height: inherit;
      width: inherit;
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%, 0% 0%, 0% 0%, 0% 0%);
      transition: clip-path .2s ease-out;
    }

    img {
      position: absolute;
    }
  }

  > .user {
    position: absolute;
    overflow: visible;
    /* height: 4.5vh;
  width: 4.5vh; */
    right: 3vw;
    cursor: pointer;

    > img {
      float: right;
      height: 4.5vh;
      width: 4.5vh;
      border-radius: 50%;
      background-color: $color2;
      transition: border-radius .25s ease;
      /* margin: .2vh .2vh 0 0 */
      &:is(:focus, :hover) {
        border-radius: 30%;
      }
    }
  }

  img {
    user-select: none;
  }

  userpopup {
    display: none;
    padding: .6vh .6vw;
    /* position: absolute; */
    margin-right: 2.25vw;
    margin-top: 5.5vh;
    width: 8vw;
    background-color: $color2;
    border-radius: .6rem;
    border-top-right-radius: 0;
    cursor: pointer;

    &[show] {
      display: block;
    }

    > a {
      color: $color7;
      text-decoration: none;
      display: block;
      border-radius: .5ch;
      padding-left: 1ch;

      &:hover {
        background-color: $color3;
      }
    }

    > .logout {
      color: $DCred;
    }
  }

  > .guildDropDown {
    height: 4vh;
    width: 25vh;
    position: absolute;
    right: 7vw;
    cursor: pointer;
    border-radius: .5vh;
    background-color: $color2;
    border: 0;
    margin: .5vh 1vw;
    font-size: 1em;

    > [value="AddNew"] {
      color: $accent1;
      background-color: $color3;
    }
  }
}
@media only screen and (max-aspect-ratio:4/5) {
  header userpopup {
    width: 40vw;
    font-size: 2.5em;
    text-align: center;
  }
}