@import 'base';

body {
  overflow: hidden;
  display: grid;
  justify-items: center;
  align-content: center;
}

h1 {
  font-size: 50vmin;
}

h2 {
  font-size: 10vmin;
  text-transform: capitalize;
  color: $accent2;
}