html {
  font-size: 1.65vh;
  font-family: sans-serif;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
}

::-webkit-scrollbar {
  display: none;
}

body {
  color: #ccd1da;
  background-color: #36393f;
  overflow-y: scroll;
  --pfp: url("/src/icon/discord") center/70% no-repeat;
}
body::before {
  content: "";
  display: block;
  background-image: url("/src/background");
  background-repeat: no-repeat;
  background-size: cover;
  filter: saturate(0.5);
  position: fixed;
  top: 4.5vh;
  height: 35vh;
  left: 0;
  right: 0;
  z-index: -2;
}
body::after {
  content: "";
  display: block;
  background: linear-gradient(180deg, rgba(52, 55, 60, 0.9333333333) 0%, #36393f) 95%;
  position: fixed;
  top: 4.5vh;
  height: 35vh;
  left: 0;
  right: 0;
  z-index: -1;
}

:active,
:visited {
  color: unset;
}

::selection {
  background-color: rgba(219, 173, 17, 0.7);
}

img {
  height: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}
header {
  background-color: #202225;
  height: 4.5vh;
  /* max-height: 10vh; */
  padding: 0.5vh 0.5vw;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  box-shadow: 0 -1vh 1vh 1vh #000;
}
header > * {
  color: #ccd1da;
}
header > .logo {
  height: inherit;
  overflow: hidden;
  display: block;
  width: 4.5vh;
  float: left;
  cursor: pointer;
}
header > .logo > div {
  position: absolute;
  transform: scale(1.5);
  /* filter: $fltr-acc1; */
  height: inherit;
  width: inherit;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%, 0% 0%, 0% 0%, 0% 0%);
  transition: clip-path 0.2s ease-out;
}
header > .logo img {
  position: absolute;
}
header > .user {
  position: absolute;
  overflow: visible;
  /* height: 4.5vh;
  width: 4.5vh; */
  right: 3vw;
  cursor: pointer;
}
header > .user > img {
  float: right;
  height: 4.5vh;
  width: 4.5vh;
  border-radius: 50%;
  background-color: #2f3136;
  transition: border-radius 0.25s ease;
  /* margin: .2vh .2vh 0 0 */
}
header > .user > img:is(:focus, :hover) {
  border-radius: 30%;
}
header img {
  user-select: none;
}
header userpopup {
  display: none;
  padding: 0.6vh 0.6vw;
  /* position: absolute; */
  margin-right: 2.25vw;
  margin-top: 5.5vh;
  width: 8vw;
  background-color: #2f3136;
  border-radius: 0.6rem;
  border-top-right-radius: 0;
  cursor: pointer;
}
header userpopup[show] {
  display: block;
}
header userpopup > a {
  color: #ccd1da;
  text-decoration: none;
  display: block;
  border-radius: 0.5ch;
  padding-left: 1ch;
}
header userpopup > a:hover {
  background-color: #36393f;
}
header userpopup > .logout {
  color: #f04747;
}
header > .guildDropDown {
  height: 4vh;
  width: 25vh;
  position: absolute;
  right: 7vw;
  cursor: pointer;
  border-radius: 0.5vh;
  background-color: #2f3136;
  border: 0;
  margin: 0.5vh 1vw;
  font-size: 1em;
}
header > .guildDropDown > [value=AddNew] {
  color: #dbad11;
  background-color: #36393f;
}

@media only screen and (max-aspect-ratio: 4/5) {
  header userpopup {
    width: 40vw;
    font-size: 2.5em;
    text-align: center;
  }
}
body {
  overflow: hidden;
  display: grid;
  justify-items: center;
  align-content: center;
}

h1 {
  font-size: 50vmin;
}

h2 {
  font-size: 10vmin;
  text-transform: capitalize;
  color: #efc330;
}
