$theme: #dbad11;
$off-white: #e6eaea; // clr(27)
$off-black: #121321; // clr(0)
$header-size: 50px;
$header-space: $header-size - 7px;
$header-gap: 25px;
$nav-size: 300px;
$outline-width: .06rem;
$input-height: 1.15rem;