@use 'globals.scss' as *;
@use 'functions.scss' as *;
@mixin outline($width: 1, $clr-weight: 10) {
  outline: border($width,$clr-weight);
  outline-offset: -$outline-width * $width;
}
@mixin avatar {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  transition: border-radius ease-out .2s;

  &:focus,
  &:hover {
    border-radius: 35%;
  }
}
@mixin button-colors($clr1, $clr2, $clr3,$clr4, $clr5) {
  background-color: clr($clr1);

  &.active,
  &:active,
  &:focus-within,
  &:hover {
    background-color: clr($clr2);
  }

  &.active:active,
  &.active:focus-within,
  &.active:hover,
  &:focus-within:active,
  &:hover:active,
  &:hover:focus-within {
    background-color: clr($clr3);
  }

  &.active:active:focus-within,
  &.active:active:hover,
  &.active:focus-within:hover,
  &:active:focus-within:hover {
    background-color: clr($clr4);
  }

  &.active:active:focus-within:hover {
    background-color: clr($clr5);
  }
}