@use '../abstracts' as *;
@use '../components/server-select.scss';
@use '../components/nav-button.scss';

header {
  background-color: clr(1);
  grid-area: header;
  padding: ($header-size - $header-space)/2 15px;
  box-shadow: 0 0 20px clr(-2);
  z-index: 3;
  display: grid;
  grid-template-areas: 'logo breadcrumb server-select avatar';
  grid-template-columns: $header-space 1fr 20em $header-space;
  column-gap: $header-gap;
  @include mobile {
    grid-template-areas: 'logo server-select';
    grid-template-columns: $header-space 1fr;
  }

  > a {
    grid-area: logo;
    height: $header-space;
  }

  > .avatar {
    @include avatar;
    grid-area: avatar;
    height: $header-space;
  }

  > .breadcrumb {
    grid-area: breadcrumb;
    line-height: $header-space;
    color: #888;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    > span {
      margin: 0 .5ch;
    }
  }
}