@use '../abstracts' as *;
@use '../components/server-select.scss';

header {
  background-color: clr(1);
  grid-area: header;
  padding: calc(($header-size - $header-space) / 2) 15px;
  box-shadow: 0 0 20px clr(-2);
  z-index: 3;

  > a > .logo {
    height: 100%;
    aspect-ratio: 1 / 1;
  }

  > .avatar {
    @include avatar;
    height: 100%;
    float: right;
  }

  > .breadcrumb {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    color: #888;
    margin-left: $header-gap;

    > span {
      margin: 0 .5ch;
    }
  }
}