@use '../abstracts' as *;
@use '../components/server-select.scss';

header {
  z-index: 3;
  padding: ($header-size - $header-space)/2 15px;
  background-color: clr(1);
  box-shadow: 0 0 20px clr(-2);
  grid-area: header;

  > a > .logo {
    height: 100%;
    aspect-ratio: 1 / 1;
  }

  > .avatar {
    @include avatar;
    float: right;
    height: 100%;
  }

  > .breadcrumb {
    display: inline-block;
    margin-left: $header-gap;
    height: 100%;
    color: #888;
    vertical-align: middle;

    > span {
      margin: 0 .5ch;
    }
  }
}