@use '../abstracts' as *;
@use '../components/changes-popup.scss';
@use '../components/button.scss';
$side-padding: 3ch;

main {
  grid-area: main;
  padding: 0 $side-padding 2rem;
  position: relative;
  overflow-y: auto;

  > h2 {
    margin-left: -1ch;
    margin-top: 2rem;
  }

  > h3 {
    margin-top: 1rem;
    margin-bottom: .5rem;
  }

  > section {
    @include glass;
    padding: 1rem 1ch;
    border-radius: 1rem;
    box-shadow: .3ch .3em 2em clr(0);
    transition: box-shadow ease-out .5s;

    &:focus-within {
      box-shadow: .7ch .7em 4em clr(0);
    }

    > input {
      background-color: clr(2, .2);
      height: 2em;
      width: 20ch;
      border-radius: .4em;
      padding-left: 2ch;
      display: block;
    }
  }

  &::-webkit-scrollbar {
    width: $side-padding;
    $thumb-width: 5px;
    @function thumb-gradient($opacity) {
      @return linear-gradient(to left, clr(10, $opacity) $thumb-width, transparent $thumb-width);
    }

    &-thumb {
      background-image: thumb-gradient(.2);
      border-radius: $thumb-width / 2;

      &:hover {
        background-image: thumb-gradient(.8);
      }
    }
  }
}