@use '../abstracts' as *;

nav {
  background-color: clr(3);
  grid-area: nav;
  border-bottom-right-radius: .5rem;
  display: flex;
  flex-direction: column;
  gap: .4rem;
  padding: 0 .2rem;
  box-shadow: 0 0 15px clr(0);
  z-index: 2;

  > a {
    box-sizing: border-box;
    background-color: clr(2);
    @include outline;
    display: block;
    height: 30px;
    border-radius: .5em;
    line-height: 1.5;
    padding-left: 2ch;
    font-weight: bold;
    box-shadow: 0 0 5px clr(0);

    &.active,
    &:hover,
    :focus {
      background-color: clr(4);
      color: clr(99);
      @include outline(3, 18);
    }

    &.active:hover,
    &:active {
      background-color: clr(6);
      color: clr(99);
      @include outline(3, 18);
    }

    &.child {
      margin-left: 2ch;
      font-weight: normal;
    }

    &:not(.child) {
      margin-top: .7rem;
    }
  }
}