@use '../abstracts' as *;

nav {
  @include glass(2, .5);
  grid-area: nav;
  border-bottom-right-radius: .5rem;
  display: flex;
  flex-direction: column;
  gap: .4rem;
  padding: 0 .2rem;
  box-shadow: 0 0 15px clr(0);
  z-index: 2;

  > a {
    box-sizing: border-box;
    @include outline;
    display: block;
    height: 30px;
    border-radius: .5em;
    line-height: 1.5;
    padding-left: 2ch;
    font-weight: bold;
    box-shadow: 0 0 5px clr(0);
    @include button-colors(2, 5, 8, 10, 12);

    &.active,
    &:active,
    &:focus-within,
    &:hover {
      color: clr(99);
      @include outline(3, 18);
    }

    &.child {
      margin-left: 2ch;
      font-weight: normal;
    }

    &:not(.child) {
      margin-top: .7rem;
    }
  }
  @include mobile {
    position: fixed;
    top: $header-size;
    bottom: 0;
    width: 100%;
    right: 100%;
    transition: left 1s ease-out;

    #root.nav & {
      right: 0;
    }
  }
}