@use 'abstracts' as *;
@use 'reset.scss';
@use 'globals.scss';

#root,
:root,
body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  color: $off-white;
  font-size: 16px;
  font-family: sans-serif;
}

#root {
  @include mobile {
    grid-template-columns: 0 1fr;
  }
  display: grid;
  background: linear-gradient(220deg, clr(6, .9), clr(5) 80%);
  grid-template-areas: 'header header' 'nav main';
  grid-template-rows: $header-size 1fr;
  grid-template-columns: $nav-size 1fr;
}