@use 'abstracts' as *;
@use 'reset.scss';
@use 'globals.scss';

#root,
:root,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-size: 16px;
  font-family: sans-serif;
  color: clr(27);
}

#root {
  display: grid;
  grid-template-areas: 'header header' 'nav main';
  grid-template-rows: $header-size 1fr;
  grid-template-columns: $nav-size 1fr;
  background: linear-gradient(220deg, clr(6, .9), clr(5) 80%);
}