@use '../abstracts' as *;
$width: 80%;
$height: 3em;

#changes-popup {
  position: absolute;
  left: (100% - $width) / 2;
  bottom: 1em;
  width: $width;
  height: $height;
  border-radius: 1.4em;
  z-index: 2;
  box-shadow: -.2ch .4em 1em clr(.5);
  @include glass(1, .8, .4rem);
  padding: 1em 3ch;

  > button {
    float: right;
    bottom: $input-height / 2;
  }
}