@use '../abstracts' as *;

header {
  background-color: clr(1);
  grid-area: header;
  padding: $header-size*.07 15px;

  > img {
    &.logo {
      height: 100%;
    }

    &.avatar {
      @include avatar;
      height: 100%;
      float: right;
    }
  }
}