@use '../abstracts' as *;
@use 'sass:math';

div.loading {
  position: absolute;
  transform: translate(-50%, -50%);
  inset: 50%;
  height: min(80%, 300px);
  aspect-ratio: 1 / 1;
  clip-path: circle(50% at center);
  overflow: hidden;
  animation: appear .3s ease-in;
  @keyframes appear {
    from {
      opacity: 0;
    }
  }

  > div {
    opacity: .4;
    height: 100%;
    width: 100%;
    background: $theme;
    position: absolute;
    $classes: a, b, c, d;
    $duration: 8s;
    @for $i from 1 through length($classes) {
      &##{nth($classes, $i)} {
        animation-delay: math.pow(math.$e, $i) * (-1s);
        animation-duration: $duration - $i * math.$e / 7;
      }
    }
    animation: circle linear $duration infinite;
    @keyframes circle {
      0%,
      100%,
      25%,
      50%,
      75% {
        clip-path: circle(100% at center);
      }

      12.5% {
        clip-path: circle(0 at right center);
      }

      37.5% {
        clip-path: circle(0 at bottom center);
      }

      62.5% {
        clip-path: circle(0 at left center);
      }

      87.5% {
        clip-path: circle(0 at top center);
      }
    }
  }
}