@use '../abstracts' as *;
@include mobile {
  .nav-button {
    height: $header-space;
    width: $header-space;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    bottom: $header-space/7/2;

    > div {
      height: $header-space/7;
      border-radius: 3px;
      background-color: clr(23);
      transition: transform .6s ease-in-out;

      #root.nav & {
        transition: transform 1s cubic-bezier(0.5, -0.95, 0.3, 2.8);
        transform: rotate(-10deg);
      }
    }
  }
}