@use '../abstracts' as *;

.placeholder {
    @include avatar;
    display: grid;
    background-color: rgb(54, 57, 63);
    color: rgb(220, 221, 222);
    font-size: 0.9rem;
    user-select: none;
    place-items: center;
}