@use '../abstracts' as *;

@mixin select($height: $input-height, $clr-value: 3) {
    $icon-size: $height * 0.73;
    position: relative;
    max-width: 15em;
    height: $height;
    border-radius: 10px;
    background-color: clr($clr-value);

    > input {
        z-index: 4;
        padding-left: calc(3% + $icon-size + 10px);
        width: 100%;
        height: $height;
        background: inherit;
        font-size: 1rem;
    }

    > img {
        display: none;
        height: $height * 0.98;
    }

    &:focus-within {
        border-radius: 10px 10px 0 0;

        > .options {
            max-height: 20em;
            height: fit-content;

            a,
            div {
                display: grid;

                &.active,
                &:active,
                &:focus-within,
                &:hover {
                    background-color: clr($clr-value + 1);
                }

                &.active:active,
                &.active:focus-within,
                &.active:hover,
                &:focus-within:active,
                &:hover:active,
                &:hover:focus-within {
                    background-color: clr($clr-value + 2);
                }
            }
        }

        img {
            position: absolute;
            top: $icon-size * 0.01;
            left: 4.75%;
            z-index: 4;
        }
    }

    &:not(:focus-within) {
        > .options {
            overflow-y: hidden;
            top: 0rem;
            height: 100%;
            pointer-events: none;
            background: none;

            > .active {
                position: absolute;
                display: grid;

                > .placeholder,
                > img {
                    margin-top: $header-space * 0.025;
                    height: $header-space * 0.95;
                }
            }
        }

        > input {
            opacity: 0;
            cursor: pointer;
        }


    }

    > .options {
        position: absolute;
        top: $height;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        width: 100%;
        height: 0;
        border-radius: 0 0 10px 10px;
        background-color: inherit;

        > a,
        > div {
            display: none;
            position: relative;
            z-index: 3;
            padding-left: 3%;
            min-height: $height;
            cursor: pointer;
            grid-template-areas: 'icon label';
            grid-template-columns: $icon-size 1fr;
            gap: 10px;
            place-items: center left;
            color: var(--color);

            > img {
                @include avatar;
                display: block;
                width: $icon-size;
            }

            > .placeholder,
            > img {
                width: $icon-size;
                grid-area: icon;
            }

            > span {
                overflow: hidden;
                width: 100%;
                text-overflow: ellipsis;
                white-space: nowrap;
                grid-area: label;
            }


        }
    }
}

.select {
    @include select();
}