@use '../abstracts' as *;
$select-height: $header-space;

.select {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;

  > input {
    z-index: 4;
    padding-left: calc(3% + $select-height + 10px);
    background: inherit;
    font-size: 1rem;
  }

  &:focus-within {
    height: fit-content;

    > a {
      display: grid;
    }

    > img {
      position: absolute;
      top: $select-height * .01;
      left: 4.75%;
      z-index: 4;
      display: block;
      aspect-ratio: 1 / 1;
    }
  }

  &:not(:focus-within) {
    > input {
      opacity: 0;
    }

    > .active {
      position: absolute;
      top: 0;
      display: grid;
    }
  }

  > a {
    position: relative;
    z-index: 3;
    display: none;
    padding-left: 3%;
    grid-template-areas: 'icon label';
    grid-template-columns: $select-height 1fr;
    gap: 10px;
    place-items: center left;

    > img {
      @include avatar;
      display: block;
      width: $select-height;
    }

    > :is(.placeholder, img) {
      width: $select-height;
      grid-area: icon;
    }

    > span {
      overflow: hidden;
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      grid-area: label;
    }

    &:focus-within,
    &:hover {
      background-color: #fff3;
    }
  }

  > img {
    display: none;
  }
}

@mixin select-height($height) {
  > input {
    height: $height;
  }

  > img {
    height: $height * .98;
  }
}