@use '../abstracts' as *;

.select {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  > input {
    background: inherit;
    z-index: 4;
  }

  &:focus-within {
    height: fit-content;

    > a {
      display: grid;
    }
  }

  &:not(:focus-within) {
    > input {
      opacity: 0;
    }

    > .active {
      display: grid;
      position: absolute;
      top: 0;

      > :is(.placeholder, img) {
        width: $header-space*.95;
        margin-top: $header-space*.025;
      }
    }
  }

  > a {
    display: none;
    grid-template-areas: 'icon label';
    grid-template-columns: $header-space 1fr;
    gap: 10px;
    place-items: center left;
    padding-left: 3%;
    position: relative;
    z-index: 3;

    > :is(.placeholder, img) {
      grid-area: icon;
      @include avatar;
      display: block;
      width: $header-space;
    }

    .placeholder {
      background-color: rgb(54, 57, 63);
      display: grid;
      place-items: center;
      user-select: none;
      color: rgb(220, 221, 222);
      font-size: .9rem;
    }

    > span {
      overflow: hidden;
      grid-area: label;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }
  }
}