@use '../abstracts' as *;
@use './select.scss';

header > .select {
  width: 20em;
  height: $header-space;
  float: right;
  background-color: clr(4);
  position: relative;
  margin-right: $header-gap;

  > input {
    height: $header-space;
  }

  &:not(:focus-within) > .active > :is(.placeholder, img) {
    height: $header-space*.95;
    margin-top: $header-space*.025;
  }
  @include mobile {
    width: calc(100% - 15px*2 - $header-space);
    margin-right: 0;
  }
}