@use '../abstracts' as *;
@use './select.scss';

header > .select {
  grid-area: server-select;
  height: 100%;
  background-color: clr(4);
  position: relative;
  max-width: 20em;

  > input {
    height: 100%;
  }

  &:not(:focus-within) > .active > :is(.placeholder, img) {
    height: $header-space*.95;
    margin-top: $header-space*.025;
  }
}